<a href="<%= link %>about" class="basicSM <%= current.about %>">
    <%- __('menu').about %>
</a>
<a href="<%= link %>roadmap" class="basicSM <%= current.roadmap %>">
    <%- __('menu').roadmap %>
</a>
<a href="<%= link %>tech" class="basicSM <%= current.tech %>">
    <%- __('menu').tech %>
</a>
<a href="<%= link %>tokenomics" class="basicSM <%= current.tokenomics %>">
    <%- __('menu').tokenomics %>
</a>
<a href="<%= link %>partnership" class="basicSM <%= current.partnership %>">
    <%- __('menu').partners %>
</a>