<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Keytom</title>

    <link rel="apple-touch-icon" sizes="180x180" href="<%= link %>static/media/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= link %>static/media/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= link %>static/media/images/favicon-16x16.png">
    <link rel="manifest" href="<%= link %>static/media/images/site.webmanifest">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="ru">
    <meta name="generator" content="N/A">
    <meta name="language" content="Russian">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <meta name="theme-color" content="#FFFFFF">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-navbutton-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">

    <link type="text/css" rel="stylesheet" href="<%= link %>static/fonts/fonts.css">
    <link type="text/css" rel="stylesheet" href="<%= link %>static/css/main.css">

    <script src="<%= link %>static/js/funcs.js"></script>
</head>

<body>
    <div class="body">