<%- include('../parts/head') %>

<link type="text/css" rel="stylesheet" href="<%= link %>static/css/roadmap.css">

<%- include('../parts/preloader') %>

    <div class="topBlockMain">
        <div class="videoBlock">
            <video muted playsinline>
                <!-- loop -->
                <source src="<%= link %>static/media/video/09.mp4" type="video/mp4">
            </video>
        </div>
        <div class="topBlock roadmap">
            <%- include('../parts/menu/pc.ejs') %>

            <div class="topBlockText">
                <div>
                    <p class="h1">
                        <%= __('pages').roadmap.topBlock.header %>
                    </p>
                    <p class="basicXL">
                        <%- __('pages').roadmap.topBlock.description %>
                    </p>
                    <p class="basicMS" onclick="scrollToElement('next')">
                        <%= __('pages').roadmap.topBlock.additionally %>
                        <img src="<%= link %>static/media/images/arrow-top-down.svg" alt="">
                    </p>
                </div>
            </div>
        </div>

        <%- include('../parts/menu/mobile.ejs') %>
    </div>

    <div id="next" class="roadmap">
        <%- include('../parts/menu/pc-sticky.ejs') %>
        <%- include('../parts/menu/mobile-sticky.ejs') %>

        <div class="roadmapInside">
            <div class="highlightBlock">
                <img src="<%= link %>static/media/images/roadmap-highlight-left.png" alt="" class="highlight">
            </div>
    
            <div class="keysBlock">
                <div style="background-image: url('<%= link %>static/media/images/roadmap-keys.png');" class="keys"></div>
            </div>
    
            <div class="infoBlock infoBlockFirst">
                <img src="<%= link %>static/media/images/roadmap-highlight.png" alt="" class="bg">
    
                <div class="info">
                    <div class="infoInside">
                        <img src="<%= link %>static/media/images/roadmap-coin.svg" alt="" class="coin">
                        <img src="<%= link %>static/media/images/roadmap-decor-1.svg" alt="" class="decor">
            
                        <p class="textMedium"><%- __('pages').roadmap.info.date[0] %></p>
                        <p class="caption3"><%- __('pages').roadmap.info.caption[0] %></p>
                        <p class="text"><%- __('pages').roadmap.info.text[0] %></p>
                    </div>
                </div>
            </div>
            <div class="infoBlock">
                <img src="<%= link %>static/media/images/roadmap-highlight.png" alt="" class="bg">
    
                <div class="info">
                    <div class="infoInside">
                        <img src="<%= link %>static/media/images/roadmap-coin.svg" alt="" class="coin">
                        <img src="<%= link %>static/media/images/roadmap-decor-1.svg" alt="" class="decor">
            
                        <p class="textMedium"><%- __('pages').roadmap.info.date[1] %></p>
                        <p class="caption3"><%- __('pages').roadmap.info.caption[1] %></p>
                        <p class="text"><%- __('pages').roadmap.info.text[1] %></p>
                    </div>
                </div>
            </div>
            <div class="infoBlock">
                <img src="<%= link %>static/media/images/roadmap-highlight.png" alt="" class="bg">
    
                <div class="info">
                    <div class="infoInside">
                        <img src="<%= link %>static/media/images/roadmap-coin.svg" alt="" class="coin">
                        <img src="<%= link %>static/media/images/roadmap-decor-1.svg" alt="" class="decor">
            
                        <p class="textMedium"><%- __('pages').roadmap.info.date[2] %></p>
                        <p class="caption3"><%- __('pages').roadmap.info.caption[2] %></p>
                        <p class="text"><%- __('pages').roadmap.info.text[2] %></p>
                    </div>
                </div>
            </div>
    
            <div class="infoBlock">
                <img src="<%= link %>static/media/images/roadmap-highlight.png" alt="" class="bg">
                
                <div class="info">
                    <div class="infoInside">
                        <img src="<%= link %>static/media/images/roadmap-coin.svg" alt="" class="coin">
                        <img src="<%= link %>static/media/images/roadmap-decor-1.svg" alt="" class="decor">

                        <p class="textMedium"><%- __('pages').roadmap.info.date[3] %></p>
                        <p class="caption3"><%- __('pages').roadmap.info.caption[3] %></p>
                        <div class="text"><%- __('pages').roadmap.info.text[3] %></div>

                    </div>
                </div>
            </div>
    
            <div class="infoBlock">
                <img src="<%= link %>static/media/images/roadmap-highlight.png" alt="" class="bg">
                
                <div class="info">
                    <div class="infoInside">
                        <img src="<%= link %>static/media/images/roadmap-coin.svg" alt="" class="coin">
                        <img src="<%= link %>static/media/images/roadmap-decor-1.svg" alt="" class="decor">
        
                        <p class="textMedium"><%- __('pages').roadmap.info.date[4] %></p>
                        <p class="caption3"><%- __('pages').roadmap.info.caption[4] %></p>
                        <p class="text"><%- __('pages').roadmap.info.text[4] %></p>

                    </div>
                </div>
            </div>
    
            <div class="infoBlock">
                <img src="<%= link %>static/media/images/roadmap-highlight.png" alt="" class="bg">
                
                <div class="info">
                    <div class="infoInside">
                        <img src="<%= link %>static/media/images/roadmap-coin.svg" alt="" class="coin">
                        <img src="<%= link %>static/media/images/roadmap-decor-1.svg" alt="" class="decor">
                        
                        <p class="textMedium"><%- __('pages').roadmap.info.date[5] %></p>
                        <p class="caption3"><%- __('pages').roadmap.info.caption[5] %></p>
                        <p class="text"><%- __('pages').roadmap.info.text[5] %></p>

                    </div>
                </div>
            </div>
    
            <div class="infoBlock">
                <img src="<%= link %>static/media/images/roadmap-highlight.png" alt="" class="bg">
                
                <div class="info">
                    <div class="infoInside">
                        <img src="<%= link %>static/media/images/roadmap-coin.svg" alt="" class="coin">
                        <img src="<%= link %>static/media/images/roadmap-decor-1.svg" alt="" class="decor">
        
                        <p class="textMedium"><%- __('pages').roadmap.info.date[6] %></p>
                        <p class="caption3"><%- __('pages').roadmap.info.caption[6] %></p>
                        <div class="text"><%- __('pages').roadmap.info.text[6] %></div>

                    </div>
                </div>
            </div>
    
            <div class="infoBlock">
                <img src="<%= link %>static/media/images/roadmap-highlight.png" alt="" class="bg">
                
                <div class="info">
                    <div class="infoInside">
                        <img src="<%= link %>static/media/images/roadmap-coin.svg" alt="" class="coin">
                        <img src="<%= link %>static/media/images/roadmap-decor-1.svg" alt="" class="decor">
        
                        <p class="textMedium"><%- __('pages').roadmap.info.date[7] %></p>
                        <p class="caption3"><%- __('pages').roadmap.info.caption[7] %></p>

                    </div>
                </div>
            </div>
    
            <div class="infoBlock">
                <img src="<%= link %>static/media/images/roadmap-highlight.png" alt="" class="bg">
                
                <div class="info">
                    <div class="infoInside">
                        <img src="<%= link %>static/media/images/roadmap-coin.svg" alt="" class="coin">
                        <img src="<%= link %>static/media/images/roadmap-decor-1.svg" alt="" class="decor">
        
                        <p class="textMedium"><%- __('pages').roadmap.info.date[8] %></p>
                        <p class="caption3"><%- __('pages').roadmap.info.caption[8] %></p>
                    </div>
                </div>
            </div>
    
            <script>
                window.addEventListener("scroll", () => {
                    const blocks = document.querySelectorAll(".infoBlock")
                    
                    blocks.forEach((block, id) => {
                        let screenMiddle = window.scrollY + window.innerHeight / 2
    
                        let blockTop = window.innerHeight + block.offsetTop
    
                        let blockBottom = window.innerHeight + block.offsetTop + block.offsetHeight
    
                        if (
                            blockTop < screenMiddle && screenMiddle < blockBottom
                        ) {
                            blocks.forEach(element => {
                                element.classList.remove("infoBlockCurrent")
                            });
    
                            block.classList.add("infoBlockCurrent")
                        }
    
                    });
                })
            </script>
        </div>

        <div class="investor">
            <div class="left">
                <p class="caption8">
                    <%- __('pages').roadmap.investor.caption %>
                    
                </p>
                <p class="text">
                    <%- __('pages').roadmap.investor.text %>
                </p>
                <a href="https://wallet.keytom.io" class="textOpen">
                    <%- __('pages').roadmap.investor.open %>
                </a>
            </div>
            <div class="right">
                <img src="<%= link %>static/media/images/roadmap-portal-big.svg" alt="" class="portal">

                <img src="<%= link %>static/media/images/roadmap-portal.png" alt="" class="portalMobile">
            </div>
        </div>

        <%- include('../parts/footer') %>
    </div>

    <%- include('../parts/bottom') %>